@page
@model AppRazor.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container px-4 py-4" id="home">
    <div class="bg-body-tertiary p-5 rounded">
        <h1 class="display-5 fw-normal">Welcome to the Friends database</h1>
        <p class="fs-5">Manage your friends easily with this application.<br>Add-edit-remove friends, pets, addresses,
            and quotes.</p>
        <p>By Christoffer Hansson</p>
    </div>
</div>

<!-- Page web-api-info -->
<div class="container px-4 py-4" id="webapi-info">
    <h2 class="pb-2 border-bottom">WebApi info</h2>
    <p>Below you see an overview of the content presented by the WebApi. Click on the link to see details. </p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#home" />
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Addresses</h3>
                <p>@Model.AddressCount</p>
                <a href="#list-of-items" class="btn btn-primary">
                    See details
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#person-raised-hand" />
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Friends</h3>
                <p>@Model.FriendCount</p>
                <a href="#list-of-items" class="btn btn-primary">
                    See details
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#heart-fill" />
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Pets</h3>
                <p>@Model.PetCount</p>
                <a href="#list-of-items" class="btn btn-primary">
                    See details
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#chat-square-quote-fill" />
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Quotes</h3>
                <p>@Model.QuoteCount</p>
                <a href="#list-of-items" class="btn btn-primary">
                    See details
                </a>
            </div>
        </div>
    </div>
</div>