@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model AppRazor.Pages.Friends.Overviews.FriendsAndPetsOverviewModel
@{
}

<div class="container px-4 py-4" id="webapi-info">
    <h2 class="pb-2 border-bottom">Friends and Pets per Country</h2>
    <p>Below you see an overview of the Friends and Pets for each country. To see the overview on a City level, click the button below the Country. </p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-5">

        @{foreach (var item in Model.CountryInfo)
            {
                var petInfo = Model.PetsInfo?.FirstOrDefault(p => p.Country == item.Country);
                <div class="col d-flex align-items-start">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#globe2" />
                    </svg>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@(item.Country)</h3>
                        <p>@item.NrFriends friends</p>
                        @if (petInfo != null)
                        {
                            <p>@petInfo.NrPets pets</p>
                        }
                        else
                        {
                            <p>0 pets</p>
                        }
                        <a asp-page="/Friends/Overviews/FriendsAndPetsCityOverview" asp-route-country="@(item.Country)" class="btn btn-primary">
                            See details
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>