@page
@model AppRazor.Pages.Friends.Overviews.FriendsOverviewModel
@{
}

<div class="container px-4 py-4" id="webapi-info">
    <h2 class="pb-2 border-bottom">Friends per Country</h2>
    <p>Below you see an overview of the content presented by the WebApi. Click on the link to see details. </p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-5">

        @{foreach (var item in Model.CountryInfo)
          {
            <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#globe2"/>
                </svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@(item.Country)</h3>
                    <p>@item.NrFriends friends</p>
                    <a asp-page="/Friends/Lists/FriendsList" asp-route-search="@(item.Country)" class="btn btn-primary">
                        See details
                    </a>
                </div>
            </div>
            }
        }
    </div>
</div>